:root {
    --negro: #000000;
    --blanco: #ffffff;
    --bluetwitter: #1d9bf0;
    --darkgrey: #3a3a3a;
    --darknestgrey: #212121;
    --midgrey: #71767b;
}


/* CSS INIT */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'TwitterChirp', sans-serif;
    list-style: none;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}


/* IMPORTACION DE FUENTES (GRACIAS A GABO <3) */

@font-face {
    font-family: TwitterChirp;
    src: url(https://abs.twimg.com/fonts/v2/chirp-regular-web.woff2) format('woff2');
    src: url(https://abs.twimg.com/fonts/v2/chirp-regular-web.woff) format('woff');
    font-weight: 400;
    font-style: 'normal';
    font-display: 'swap';
}

@font-face {
    font-family: TwitterChirp;
    src: url(https://abs.twimg.com/fonts/v2/chirp-medium-web.woff2) format('woff2');
    src: url(https://abs.twimg.com/fonts/v2/chirp-medium-web.woff) format('woff');
    font-weight: 500;
    font-style: 'normal';
    font-display: 'swap';
}

@font-face {
    font-family: TwitterChirp;
    src: url(https://abs.twimg.com/fonts/v2/chirp-bold-web.woff2) format('woff2');
    src: url(https://abs.twimg.com/fonts/v2/chirp-bold-web.woff) format('woff');
    font-weight: 700;
    font-style: 'normal';
    font-display: 'swap';
}

@font-face {
    font-family: TwitterChirp;
    src: url(https://abs.twimg.com/fonts/v2/chirp-heavy-web.woff2) format('woff2');
    src: url(https://abs.twimg.com/fonts/v2/chirp-heavy-web.woff) format('woff');
    font-weight: 800;
    font-style: 'normal';
    font-display: 'swap';
}

.main__log {
    padding: 3.6rem;
    background-color: #000000;
}

.main__log * {
    color: var(--blanco);
}

.main__log i {
    font-size: 4rem;
}

.main__log>h1 {
    font-size: 5.4rem;
    margin: 4rem 0;
}

.main__log>h2 {
    font-size: 2.3rem;
    margin-bottom: 2rem;
}

.log__signup {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.signup__item {
    width: 100%;
    background-color: var(--blanco);
    padding: 1.2rem;
    border-radius: 2rem;
}

.signup__item,
.log__signup>p,
.signup__o,
.login__btn {
    max-width: 30rem;
}

.signup__item a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: .8rem;
}

.signup__item img {
    height: 1.8rem;
}

.signup__item i {
    color: black;
    font-size: 1.8rem;
}

.signup__item p {
    color: var(--negro);
    font-size: 1.4rem;
    font-weight: 700;
}

.signup__item--phone {
    background-color: var(--bluetwitter);
}

.signup__item--phone p {
    color: var(--blanco);
}

.signup__o {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem
}

.o__decoration {
    background-color: rgb(47, 51, 54);
    height: 1px;
    flex: 1;
}

.log__signup>p {
    color: rgb(113, 118, 123);
    font-size: 1.1rem;
}

.log__signup a {
    color: var(--bluetwitter);
}

.log__login {
    margin-top: 5.6rem;
    width: 100%;
}

.log__login h3 {
    font-size: 1.7rem;
}

.login__btn {
    background-color: transparent;
    border: 1px solid #536471;
    width: 100%;
    margin-top: 2rem;
}

.login__btn a {
    width: 100%;
    color: var(--bluetwitter);
    font-size: 1.4rem;
    font-weight: 700;
}

.main__aside {
    background-image: url(https://abs.twimg.com/sticky/illustrations/lohp_850x623.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 43rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__aside i {
    color: var(--blanco);
    font-size: min(79vw, 36rem);
}

footer {
    background-color: var(--negro);
    padding: 1.2rem 1.6rem;
}

.footer__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__container ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 1.6rem;
    justify-content: center;
}

.footer__container li {
    list-style: none;
}

.footer__container a,
.footer__container p {
    color: #71767b;
    font-size: 1.3rem;
    text-align: center;
}

@media (min-width: 520px) {
    .main__log h1 {
        font-size: 7.4rem;
    }
    .main__log h2 {
        font-size: 4.3rem;
    }
}

@media (min-width: 1020px) {
    .main__index {
        display: flex;
        flex-direction: row-reverse;
        flex: 1;
    }
    .main__log {
        width: 86.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .main__log h1 {
        font-size: 8.8rem;
    }
    .aside__father {
        flex: 1;
    }
    .main__aside {
        height: 100%;
        width: 100%;
    }
    .body__index {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-between;
    }
    .main__aside i {
        font-size: min(25vw, 35rem);
    }
}


/* TAMAÑO DE SVG PROVISIONAL */

.interface__nav svg,
.interface__main svg,
.interface__aside svg {
    width: 2.4rem;
}


/* Display */

.interface {
    display: grid;
    grid-template-columns: 6rem 1fr;
    background-color: var(--negro);
    width: 96vw;
}

.interface__aside {
    display: none;
}

.interface__header {
    padding: 1.2rem;
    height: 100vh;
    position: sticky;
    top: 0;
    border-right: #3a3a3a 1px solid;
}


/* NAV */

.interface__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 98%;
}

.interface__nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.nav__item svg {
    fill: var(--blanco);
}

.nav__item:nth-child(1) svg {
    width: 3rem;
}

.nav__item h2 {
    display: none;
}

.nav__item:nth-child(3) svg:first-child {
    display: none;
}

.nav__item:last-child,
.nav__item:last-child div {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: var(--bluetwitter);
}

.nav__item div {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    border-radius: 5rem;
}

.nav__item:last-child svg {
    width: 2.4rem;
}

.interface__user img {
    width: 4rem;
}

.interface__user h3,
.interface__user h4,
.interface__user svg {
    display: none;
}


/* MAIN CONTENT */

.main__hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(4px);
    background-color: #0000008f;
    position: sticky;
    top: 0;
    height: 5.3rem;
    padding: 1.6rem;
    width: 100%;
}

.main__hero h1 {
    color: var(--blanco);
}

.main__hero svg {
    fill: var(--blanco);
}

.main__write {
    display: flex;
    width: 100%;
    gap: 2rem;
    padding: 2rem;
    border-bottom: var(--darkgrey) 1px solid;
}

.write__logo {
    width: 4.8rem;
    height: 4.8rem;
}

.write__logo img {
    width: 100%;
}

.write__body {
    flex: 1;
}

.write__input svg {
    fill: var(--blanco)
}

.input__text {
    display: block;
    width: 100%;
    overflow: hidden;
    resize: vertical;
    min-height: 40px;
    line-height: 30px;
    color: var(--blanco);
    font-size: 2rem;
    padding: 1rem;
}

.input__text:focus {
    outline: none;
}

.input__text[contenteditable]:empty::before {
    content: "¿Que está pasando?";
    color: gray;
}

.input__who {
    display: flex;
    gap: .1rem;
    align-items: center;
}

.input__who * {
    color: var(--bluetwitter);
    fill: var(--bluetwitter);
    font-size: 1.2rem;
    font-weight: 700;
}

.input__who svg {
    height: 1.4rem;
}

.write__input {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--darkgrey);
}

.write__menu svg {
    fill: var(--bluetwitter);
    width: 3.3rem;
    padding: .75rem;
    border-radius: 50%;
}

.write__menu svg:nth-child(3),
.write__menu svg:nth-child(5) {
    display: none;
}

.write__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem;
    padding-bottom: 0;
}

.write__tools {
    display: flex;
    gap: .5rem;
}

.write__menu input {
    border: none;
    background-color: var(--bluetwitter);
    padding: 1rem 1.6rem;
    border-radius: 3rem;
    color: var(--blanco);
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.content__article {
    padding: 2rem;
    display: flex;
    gap: 2rem;
    border-bottom: var(--darkgrey) 1px solid;
}

.article__porfile {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    object-fit: cover;
}

.article__container {
    display: flex;
    flex-direction: column;
}

.conatiner__author a {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.conatiner__author h5,
.conatiner__author p {
    font-size: 1.5rem;
}

.conatiner__author h5 {
    color: var(--blanco);
}

.conatiner__author p {
    color: var(--midgrey);
}

.container__text {
    color: var(--blanco);
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1rem 0;
}

.container__interaction {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.interaction__item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.container__interaction svg {
    fill: var(--midgrey);
    height: 4rem;
    width: 4rem;
    padding: 1rem;
}

.container__interaction p {
    color: var(--midgrey);
    font-size: 1.3rem;
}

.article__container>img,
.container__link {
    width: 100%;
    border-radius: 2rem;
}

.link__description * {
    font-size: 1.5rem;
    color: var(--midgrey);
}

.link__description {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.link__hero {
    width: 100%;
    border-radius: 2rem 2rem 0 0;
}

.link__description h5 {
    color: var(--blanco);
}

.container__link {
    border: 1px var(--darkgrey) solid;
}

@media (min-width: 700px) {
    .interface {
        width: 642px;
        margin: 0 auto
    }
    .interface__nav {
        margin-right: 1.2rem;
    }
    .write__menu svg:nth-child(3),
    .write__menu svg:nth-child(5) {
        display: unset;
    }
}

@media (min-width: 1020px) {
    .interface {
        grid-template-columns: 6rem 1fr 33rem;
        width: 98vw;
    }
    .interface__main {
        border-right: 1px solid var(--darkgrey);
    }
    .interface__aside {
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
    }
    .search__background {
        position: sticky;
        top: 0;
        background-color: var(--negro);
    }
    .aside__search {
        height: 5.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .search__input {
        background-color: var(--darknestgrey);
        width: 100%;
        display: flex;
        align-items: center;
        border-radius: 3rem;
        padding: 0 1.2rem;
    }
    .search__input input {
        padding: 1.2rem;
        flex: 1;
        background-color: transparent;
        border: 0;
        color: var(--midgrey);
        font-size: 1.5rem;
    }
    .search__input input:focus {
        outline: none;
    }
    .search__input svg {
        fill: var(--midgrey);
        width: 1.8rem;
    }
    .aside__news,
    .aside__whofollows {
        background-color: var(--darknestgrey);
        display: flex;
        flex-direction: column;
        border-radius: 2rem;
        margin-top: 1rem;
    }
    .aside__news *,
    .aside__whofollows h2 {
        color: var(--blanco);
    }
    .aside__news h3,
    .aside__whofollows h2 {
        font-size: 2rem;
    }
    .aside__news h3,
    .news__article,
    .aside__whofollows h2,
    .whofollows__item {
        padding: 1.2rem 1.6rem;
    }
    .news__article {
        display: flex;
        justify-content: space-between;
    }
    .news__text {
        display: flex;
        flex-direction: column;
        gap: .7rem;
    }
    .news__title {
        display: flex;
        gap: 1.5rem;
    }
    .news__title p {
        font-size: 1.3rem;
        color: var(--midgrey)
    }
    .news__text h4 {
        font-size: 1.5rem;
    }
    .news__article img {
        width: 6.8rem;
        height: 6.8rem;
        object-fit: cover;
        border-radius: 1rem;
    }
    .news__user {
        display: flex;
        gap: .5rem;
        align-items: center;
    }
    .news__user p {
        color: var(--blanco);
        font-weight: 700;
    }
    .news__user img {
        width: 1.6rem;
        height: 1.6rem;
        object-fit: cover;
    }
    .news__article--trends .news__text p {
        color: var(--midgrey);
        font-size: 1.3rem;
    }
    .trend__options svg {
        fill: var(--midgrey)
    }
    .aside__news a {
        padding: 1.6rem;
        color: var(--bluetwitter);
        font-size: 1.5rem;
    }
    .whofollows__item img {
        width: 4.8rem;
        height: 4.8rem;
        object-fit: cover;
    }
    .whofollows__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .whofollows__item img {
        border-radius: 50%;
    }
    .whofollows__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    .whofollows__info * {
        font-size: 1.5rem;
    }
    .whofollows__info h3 {
        color: var(--blanco);
    }
    .whofollows__info p {
        color: var(--midgrey);
    }
    .whofollows__follow {
        background-color: var(--blanco);
        padding: 1rem 1.6rem;
        font-size: 1.4rem;
        border-radius: 23rem;
        font-weight: 700;
    }
    .aside__footer {
        padding: 1.2rem 1.6rem;
        position: sticky;
        top: 33rem;
    }
    .aside__footer ul {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem 1rem;
    }
    .footer__item * {
        font-size: 1.3rem;
        color: var(--midgrey);
    }
    .aside__whofollows {
        position: sticky;
        top: 6rem
    }
    .nav__item:nth-child(3) svg:nth-child(2) {
        display: none;
    }
    .nav__item:nth-child(3) svg:nth-child(1) {
        display: unset;
    }
}

@media (min-width:1110px) {
    .interface {
        grid-template-columns: 6rem 1fr 38rem;
        width: 105rem;
        margin: 0 auto;
    }
}

@media (min-width: 1300px) {
    .interface {
        grid-template-columns: 25rem 1fr 33rem;
        width: 130rem;
    }
    .interface__nav ul {
        align-items: flex-start;
    }
    .nav__item h2 {
        display: unset;
        font-size: 2rem;
        color: var(--blanco);
        font-weight: 400;
    }
    .nav__item {
        justify-content: flex-start;
        width: 100%;
    }
    .nav__item a {
        display: flex;
        gap: 2rem;
    }
    .nav__item:last-child {
        width: 110%;
        height: 5rem;
        border-radius: 20rem;
        max-width: unset;
    }
    .nav__item:last-child h2 {
        font-size: 1.7rem;
        font-weight: 700;
        font-stretch: 100%;
    }
    .interface__user h3,
    .interface__user h4,
    .interface__user svg {
        display: unset;
        color: var(--blanco);
        fill: var(--blanco);
    }
    .interface__user {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 1rem;
    }
    .user__name {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }
    .user__name * {
        font-size: 1.5rem;
    }
    .user__name h4 {
        font-weight: 400;
        color: var(--midgrey);
    }
    .interface__user svg {
        width: 3rem;
    }
}

.nav__item div:hover,
.write__tools svg:hover {
    background-color: #ffffff18;
    cursor: pointer;
}

.write__menu input:hover {
    background-color: #3caaf3;
    cursor: pointer;
}

.conatiner__author h5:hover {
    text-decoration: underline;
}

.interaction__item:hover svg {
    background-color: #ffffff18;
    border-radius: 50%;
}

.interaction__answer:hover * {
    color: #1d9bf0;
    fill: #1d9bf0;
}

.interaction__retweet:hover * {
    color: #00ba7c;
    fill: #00ba7c;
}

.interaction__like:hover * {
    color: #f91880;
    fill: #f91880;
}

.interaction__share:hover * {
    color: #1d9bf0;
    fill: #1d9bf0;
}